body {
    font-family: karla;
    color: #2B2B2B;
    background-color: #FFFDF9;
    margin: 0;
    max-width: 100%;
}



p {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #2B2B2B;
}

.f-title {
    font-size: 61px;
    line-height: 52px;
    word-break: break-word;
}


.f-subtitle {
    font-size: 46px;
    line-height: 40px;
    margin: 0;
}

.img-index {
    width: 700px;
}

/*PAGINA DE CONTACTO*/

#contacta {
    color: #FFFDF9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 24px;
    text-align: center;
    width: 50%;
}

#paginaContacto {
    background-image: url(/img/fondo-contacta2.png);
    background-size: cover;
}

#paginaContacto .row-section{
    margin: 0;
    padding: 0;
}

#paginaContacto h2, #paginaContacto h1, #paginaContacto p{
    color: #FFFDF9;
}


.contact-icon {
    display: inline-block;
    justify-content: center;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 600;
}

/*PÁGINA COLABORA*/

.row-colabora {
    margin: 1rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 24px;
}

.row-colabora article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 36px;
    
}

.row-colabora img{
    width: 600px;
}

.lista-tareas li{
    color: #2B2B2B;
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    margin-bottom: 16px;
}
.lista-tareas {
    padding: 0;
}

.texto{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.mapa{
    width: 700px;
    height: 150px;
}