body {
    font-family: karla;
    color: #2B2B2B;
    background-color: #FFFDF9;
    margin: 0;
    max-width: 100%;
}



p {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.f-title {
    font-size: 61px;
    line-height: 52px;
    word-break: break-word;
}


.f-subtitle {
    font-size: 46px;
    line-height: 40px;
    margin: 0;
}

.img-index {
    width: 700px;
}

/*PAGINA DE CONTACTO*/

#contacta {
    color: #FFFDF9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 24px;
    text-align: center;
    padding-top: 114px;
    padding-bottom: 114px;
    width: 50%;
}

#paginaContacto {
    margin-top: 0;
    background-image: url(/img/fondo-contacta2.png);
    background-size: cover;

}

#paginaContacto h2, h1, p{
    color: #FFFDF9;
}

.contact-icon {
    display: inline-block;
    justify-content: center;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 600;
}

.paginaColabora h1, h2, p{
    color: #2B2B2B;
}