* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #abbf16a9;
    border-radius: 6px;
}

label {
    font-size: 18px;
    font-weight: 900;
}

.input-text {
    height: 32px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #aabf16;
    font-size: 18px;
}

.input-text:focus {
    outline: none;
    background-color: #f6fbe7;
}

input::placeholder {
    font-family: karla;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.302);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-button-container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}

.radio-label {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.radio-label input:checked {
    accent-color: #aabf16;
    text-decoration: underline;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#observaciones {
    font-family: karla;
    font-size: 16px;
    height: 98px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #aabf16;
}

#observaciones:focus {
    outline: none;
    background-color: #f6fbe7;
}

#observaciones::placeholder {
    color: rgba(0, 0, 0, 0.302);
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 2rem;
}
.formulario form {
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-shadow: 0 0 12px rgba(170, 191, 22, 0.35);
    border-radius: 15px;
}
.submit-container {
    grid-column: 1 / -1; 
    display: flex;
    justify-content: flex-end; 
    padding: 2rem;
}

#enviar {
    width: 100%;
    max-width: 250px;
    background-color: #aabf16;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .formulario form {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .formulario form {
        grid-template-columns: 1fr;
    }
}