
/*CSS HEADER*/

.header1 {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    background-image: url(/img/cabecera-grande.png);
    animation: encoger;
    animation-timeline: scroll(root);
    animation-fill-mode: both;
    animation-range: 0% 400px;
    transition: all 0.5s ease;
    overflow-x: hidden;
}

/* encoger header */
@keyframes encoger {
    from {
        height: 330px;

    }

    to {
        height: 90px;
        background-image: none;
        background-color: #AABF16;
    }
}

/*quitar gradient*/
@keyframes quitarGradient {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;
    }
}

.header1::before {
    content: "";
    position: absolute;
    inset: 0;
    /* ocupa todo el header */
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.4),
            /* más oscuro arriba */
            rgba(0, 0, 0, 0.1)
            /* más claro abajo */
        );
    z-index: 1;
    pointer-events: none;
    animation: quitarGradient;
    animation-timeline: scroll(root);
    animation-fill-mode: both;
    animation-range: 0% 400px;
    /* no bloquea clics */
}

.header2::before {
background: #AABF16;
}



header * {
    position: relative;
    z-index: 2;
}

#menu {
    padding: 1rem 3rem;
}

.logo-svg {
    height: 52px;
    display: block;
    fill: #FFFDF9;
}

/* #logoCompleto:hover .logo-svg {
    fill: #AABF16;
}*/

#logoReducido {
    display: none;
}


/*NO PONER EL #menu no me afecta ya*/

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-links {
    /* es = menu-horizontal*/
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    transition: all 0.5s ease;
}

.nav-links li {
    margin-left: 24px;
}

.nav-links a {
    text-decoration: none;
    color: #FFFDF9;
    font-size: 20px;
    padding: 5px 20px;
    transition: background-color 0s ease;
}

.nav-links a:hover {
    font-weight: 600;
    border-radius: 20px;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    position: relative;
    z-index: 1;
}

.menu-icon .line {
    width: 30px;
    height: 3px;
    background-color: #FFFDF9;
    margin: 5px 0;
    transition: all 0.3s ease;
}

#menu-toggle {
    display: none;
}


@media(max-width:800px) {

    main {
        margin-top: 114px;
    }

    img {
        width: 100%;
    }

    .header1 {
        background-color: #AABF16;
        background-image: none;
        animation: none;
        overflow-x: visible;
    }

    #menu {
        background-color: #AABF16;
        padding: 0;
    }

    .nav-bar {
        padding: 16px;
    }

    .menu-icon {
        display: flex;
    }

    .logo-svg{
        height: 42px;
    }
    .logo-svg:hover {
        fill: #FFFDF9;
    }

    #logoCompleto {
        display: none;
    }

    #logoReducido {
        display: block;
    }


    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        text-align: center;
        gap: 24px;
        background-color: #AABF16;
        transition: heigth 0.5s ease;
    }

    .nav-links li {
        margin: 0;
        padding: 20px 0;
        width: 100%;
    }

    .nav-links a {
        width: 100%;
        padding: 10px 20px;
        height: 330;
    }

    .nav-links a:hover {
        font-weight: 700;
        color: #FFFDF9;
        font-size: 24px;
    }


    #menu-toggle:checked+.menu-icon+.nav-links {
        height: 330px;
    }

    #menu-toggle:checked+.menu-icon .line:nth-child(1) {
        transform: rotate(45deg) translate(15px, 3px);
    }

    #menu-toggle:checked+.menu-icon .line:nth-child(2) {
        transform: scale(0);
    }

    #menu-toggle:checked+.menu-icon .line:nth-child(3) {
        transform: rotate(-45deg) translate(15px, -4px);
    }

}

/*header2*/

.header2 {
    height: 90px;
    top: 0;
    background-color: #AABF16;
    background-image: none;
    animation: none;
}


header nav ul li{
    padding: 8px;
}
#pagina-actual {
    font-weight: bold;
    border-bottom: 2px solid #fffdf9;
}