.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-sizing: border-box;
    min-height: 100dvh;
}

#contendor1 {
    padding-top: 330px;
    box-sizing: border-box;
    min-height: 100dvh;
}



footer{
    display: grid;
}

.header1 {
    display: grid;
}

.header2{
    display: grid;
}

.row-title {
    margin: 1rem;
    display: flex;
    justify-content: center;

    h1 {
        text-align: center;
    }
}

.row-section {
    margin: 1rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.row-section article {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 24px;

}

/*Responsive*/
@media (max-width: 800px) {
    .row-section article, .row-colabora article{
        flex-direction: column;
        align-items: center;
    }

    .texto{
        align-items: center;
        text-align: center;
        
    }

    .row-section article img{
        height: auto;
    }

    .row-section article h2 {
        text-align: center;
    }

    .row-section article p {
        padding: 0 3.2rem 0 3.2rem;
    }

    .row-section article>div{
        width: 100%;
    }

    .row-colabora article p{
        padding: 0 3.2rem 0 3.2rem;
    }
    .row-colabora article>div{
        width: 100%;
    }
}
