body {
    font-family: karla;
    color: #2B2B2B;
    background-color: #FFFDF9;
    margin: 0;
    max-width: 100%;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    margin: 0px 10px;
    justify-content: right;
}

.menu-horizontal a {
    text-decoration: none;
    font-size: 20px;
    padding: 5px 20px;
    display: inline-block;
    color: #FFFDF9;
    border-right-width: 2px;
}

.menu-horizontal a:hover {
    font-weight: 700;
}



p {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.f-title {
    font-size: 61px;
    line-height: 52px;
    word-break: break-word;
}


.f-subtitle {
    font-size: 46px;
    line-height: 40px;
    margin: 0;
}

img {
    width: 700px;
}


#contacta{
    color: #FFFDF9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 24px;
    text-align: center;
    top: 0;
}

#paginaContacto{
    margin-top: 0;
    background-image: url(img/fondo-contacta.png);
    background-size: cover;
    height: 80vh;
}