body {
    font-family: karla;
    color: #2B2B2B;
    background-color: #FFFDF9;
    margin: 0;
    max-width: 100%;
}



header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    background-image: url(img/cabecera-grande.png);
    animation: encoger;
    animation-timeline: scroll(root);
    /* O animation-timeline: view(); */
    /*animation-range: entry 0% bottom 95%, exit 95% 100%;*/
    animation-fill-mode: both;
    animation-range: 0% 400px;
    overflow-x: hidden;
}

/* encoger header */
@keyframes encoger {
    from {
        height: 330px;

    }

    to {
        height: 80px;
        box-shadow:inset 15px 45px 20px;
    }
}

main {
    margin-top: 354px;
}

.cabecera {
    width: 100%;
}

.logo-svg {
    height: 52px;
    display: block;
    fill: #FFFDF9;
}

.logo-svg:hover {
    fill: #C8D169;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0 3rem;
    
}


.menu-horizontal {
    list-style: none;
    display: flex;
    margin: 0px 10px;
    justify-content: right;
}

.menu-horizontal a {
    text-decoration: none;
    font-size: 20px;
    padding: 5px 20px;
    display: inline-block;
    font-weight: 600;
    color: #FFFDF9;
    border-right-width: 2px;
    border-right-style: solid;
}

.menu-horizontal a:hover {
    color: #C8D169;
    border-color: #FFFDF9;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.f-title {
    font-size: 61px;
    line-height: 52px;
    word-break: break-word;
}


.f-subtitle {
    font-size: 46px;
    line-height: 40px;
    margin: 0;
}

img {
    width: 700px;
}

footer {
    background-color: #AABF16;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

@media (max-width: 800px) {
    footer {
        padding: 2rem;
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

}

